<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H_Right</key>
	<array>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
	</array>
	<key>H_left</key>
	<array>
		<string>H</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Nacute</string>
		<string>Rinvertedbreve</string>
		<string>Rcaron</string>
		<string>Eogonek</string>
		<string>Rcommaaccent</string>
		<string>Racute</string>
		<string>Ldot</string>
		<string>Einvertedbreve</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
	</array>
</dict>
</plist>
